# Java & Maven
target/
*.class
*.jar
*.war
*.ear

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment / Properties (if secrets added)
*.env

# Others
HELP.md
